		
				
		*{padding:0px;}
		  /*px�蝏笆�������E��憬���
			em��撖孵����△銝剔����憭批�憬撠�����(line-height)嚗�熊���漲�����em���憬����雿�扼��*/
			
			#Menu li{
					 font-size:30px;
					 font-weight:900;
					 text-decoration:none;
					 text-align:center;
					 float:left;
					 width: 7em;
					 border-right:1px solid #cccccc;
					 list-style-type:none;
					 display:block;
					 
					 margin:0px 25px 100px 25px;
				
					/*
			  	  	clear:right;
			  	  	display:block;
			  	  	width:100%;
				 	line-height:2.5em;
				 	color:#333333;
				 	
				 	list-style-type:circle;
				 	
					width:7em;
					border-right:1px solid #cccccc;*/
					 
					 
					 }
			
			
			
			#AllDiv{width: 1880px;
					height: 1000px;
					border-style: solid;
					margin:0px;
					background-image: url("Image/A6.jpg");	
					background-position:center;
					
					
					/*opacity:0.5;*/
					/*filter:alpha(opacity=60);*/
					
					
					}
		
			
			#ContentDiv{
/*                 width:80%; */
                        /*width:1300px;
						height: 800px;
						border-color:#FF0000;
						border-style: solid;
						float:left;
						margin-left:90px;*/
				}
			#article{	width:1300px;
						height: 650px;
						border-color:#FF0000;
						/*border-style: solid;*/
						float:left;
						margin-left:90px;
						}
		
			
			#RightDiv{	width:200px;
						height: 650px;
						border-color:#FF0000;
						/*border-style: solid;*/
						float:right;
						
						margin-right:60px;
						}
			
			
			#DownDiv{	width:1725px;
						height: 150px;
						border-color:black;
						/*border-style: solid;*/
						float:left;
						margin-left: 90px;
						margin-top: 20px;
						
						
					/*	marquee-direction:forward;
						marquee-play-count:20;
						marquee-speed:normal;
						marquee-style:alternate;  撟� 擉�� */
				
				
				
				/*<marquee direction="right" height="30" scrollamount="5" behavior="alternate">頝收��葫閰�</marquee>*/
			}
		
